





//this code is for navbar ripples background











//this code is for navbar ripples background end



// only for home icon and contact icon

.hidden {
    display: none;
}



// only for home icon and contact icon end

.navbar {

    z-index: 1000;
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    height: 80px;
     background: var(--navbarcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    //  overflow: hidden;
    box-shadow: 0px 0px 26px 16px rgba(0,0,0,0.1);

}

.navbar ul {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 5;
}
.list {

    position: relative;

    list-style-type: none;
    height: 80px;
    width: 80px;
    z-index: 2;
}


.menuLink {
    position: relative;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 500;
}
.navicon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0s;
}

.navtext {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    color: var(--navtext);

    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.25rem;
    transition: 0.5s;
    transition-delay: 0s;
    transform: translateY(30px);

    opacity: 0;
}
// this css for active navbar icon and text

.navbar ul li.active a .navtext {
    transform: translateY(1px);
    transition-delay: 0.25s;
    opacity: 1;
    top: 35px;
    box-shadow: none;
}

.navbar ul li.active a .navicon {
    background: var(--navbaricon);
    transform: translateY(-50px);
    z-index: 2;
    transition-delay: 0.25s;
    box-shadow: -2px 2px 5px 0px #424040;
}
// this css for active navbar icon and text end
// this css for navber icon background
// .navbar ul li a .navicon::before {
//     content: "";
//     position: absolute;
//     top: 10px;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     filter: blur(4px);
//     opacity: 0;
//     z-index: -1;
//     transition: 0.5s;
//     transition-delay: 0s;

//     background: var(--navbaricon);
// }


// this css for navber icon background end

// this css for navber icon background when active
.navbar ul li.active a .navicon::before {
    opacity: 0.5;
    transition-delay: 0.25s;
}
// this css for navber icon background when active end

// this css for navbar upper section

.iconborder{

    height: 7px;
    width: 35px;
    top: 25px;
    background:var(--navbaricon);
    position: absolute;
    z-index: 3;
    border-radius: 10px;
    box-shadow: -2px 2px 5px 0px #424040;


}
.indicator {
    content: "";
    position: absolute;
    background: var(--navbarcolor);
    height: 80px;
    width: 80px;
    top: -48px;
    left: 19.5px;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;

}

.indicator::before {
    content: "";
    position: absolute;
    background: transparent;
    height: 24.5px;
    width: 22.5px;
    top: 24px;
    left: -21.5px;
    border-radius: 50%;
    box-shadow: 10px 16px var(--navbarcolor);
}
.indicator::after {
    content: "";
    position: absolute;
    background: transparent;
    height: 24.5px;
    width: 22.5px;
    top: 24px;
    right: -21.5px;
    border-radius: 50%;
    box-shadow: -10px 16px var(--navbarcolor);
}
// this css for navbar upper section end

// this css for navbar upper section for every icon
.navbar ul li ~ .indicator{
    display: none;

}

.navbar ul li:nth-child(1).active ~ .indicator{

    display: block;
    transform: translateX(calc(80px * 0));
}
.navbar ul li:nth-child(1).active ~ .indicator {
    display: block;
    transform: translateX(calc(80px * 0));
}
.navbar ul li:nth-child(2).active ~ .indicator {
    display: block;
    transform: translateX(calc(80px * 1));
}
.navbar ul li:nth-child(3).active ~ .indicator {
    display: block;
    transform: translateX(calc(80px * 2));
}
.navbar ul li:nth-child(4).active ~ .indicator {
    display: block;
    transform: translateX(calc(80px * 3));
}
.navbar ul li:nth-child(5).active ~ .indicator {
    display: block;
    transform: translateX(calc(80px * 4));
}

// this css for navbar upper section for every icon end
